<script>
var count = <%=@minutes%> * 60;

var counter=setInterval("timer()",1000); //1000 will  run it every 1 second

function timer()
{
  count=count-1;
  if (count <= 0)
  {
     clearInterval(counter);
     document.getElementById("timer").innerHTML= "times up!";
     return;
  }

 document.getElementById("timer").innerHTML=count + " secs";
}
</script>
<html>
<body>
<span id="timer"></span>
</body>
</html>
